* {
  margin: 5px;
  padding: 0;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.font {
  width: 250px;
  height: 250px;
  background-color: #eac3c3;
  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-size: 24px;
}

.Rubik {
  font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
}

.Sedgwick {
  font-family: "Sedgwick Ave Display", cursive;
  font-weight: 400;
  font-style: normal;
}

.Dancing {
  font-family: "Dancing Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.Fjalla {
  font-family: "Fjalla One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.Indie {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}